.main{
    box-sizing: border-box;
    display: grid;
    grid-template-columns:1fr;
    width:90%;
    max-width: 50em;
    margin: auto;
    margin-top: 6em;
    gap: 3em;
    padding: 2em 2em;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0 3em 0em #8389947a;
}

.left{

}

.left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.right{

    display: flex;
    flex-direction: column;
}

.right div *{
    margin: 0;
}

.item-desc{
    box-sizing: border-box;
    margin-top: 3em;
    width: 90%;
    max-width: 50em;
    padding:1em 2em;
    margin-inline: auto;
    border-radius: 1em;
    box-shadow: 0 0 3em 0em #8389947a;
    
}
